@using ChatApplication.ViewModels.MessagesViewModels

@model IEnumerable<MessagesUserListViewModel>

<div class="users">
	@foreach(var item in Model)
	{
		<div class="user">
			<div class="row">
				<div class="col-lg-3">
					<div class="first-letter">
						@item.UserName.Substring(0,1).ToUpper()
					</div>

				</div>		
				<div class="col-lg-6 user-info-wrap">
					<div class="user-info">
						<h3 class="user-name">@item.UserName</h3>
						<p class="last-message">@item.LastMassage</p>
					</div>
				</div>		
				<div class="col-lg-2 chat-btn-wrap">
					<a class="chat-btn btn btn-secondary" href="/Messages/Chat?selectedUserId=@item.Id">Chat</a>
				</div>

			</div>

		</div>
	}

</div>


<style>
.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user {
    border: 1px solid #ebebeb;
    padding: 15px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.first-letter {
    width: 60px;
    height: 60px;
    background-color: darkblue;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.user-info-wrap {
    flex-grow: 1;
    padding-left: 15px;
}

.user-info {
    text-align: left;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.last-message {
    font-size: 14px;
    color: gray;
    margin: 5px 0 0;
}

.chat-btn-wrap {
    display: flex;
    align-items: center;
}

.chat-btn {
    font-size: 14px;
    padding: 5px 10px;
}

</style>

